<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPFS File Upload Demo</title>
</head>
<body>
    <h1>Upload File to IPFS</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="">File Name</label>
        <input type="text" name="filename">
        <br>
        <label for="">Upload File</label>
        <input type="file" name="file" id="">
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>